input[type="radio"]+label:before, input[type="checkbox"]+label:before {
    top: 20% !important;
}

.privacy-check-container {
    line-height : 1;
    text-align: justify;   
}

.my-layer {
    background-color: rgba(248, 247, 216, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.swiper-slide:not(.swiper-slide-active) .my_figure {
    opacity: 0;
    transition: all .5s
}

#services-section {
    position: relative;
}

#services-section .dark-box {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #0008;
    top: 0;
    display: none;
}

#services-section .my_container {
    /*position: absolute !important;*/
    width: 45%;
    height: 100%;
    top: 0;
    right: 0;
    display: none;
    overflow: hidden;
    position: absolute;
    transition: 1s;
    transition-timing-function: ease;
    /*background-color: rgba(255, 0, 0, 0.533);*/
    /*height: 10% !important;*/
}

#services-section .sliding-box {
    position: relative;
    width: 50% !important;
    background-color: #495E35;
    top: 22%;
    left: -100%;
    z-index: 15;
    padding: 20px;
    /*display: flex;
    flex-direction: column;
    justify-content: center;*/
    height: 55%;
    transition: 1s;
    transition-timing-function: ease;
    margin: 0 auto;
    overflow:overlay
}

@media screen and (max-width: 600px) {

    #services-section .my_container {
        top: 20%;
        width: 80%;
        right: 10%;
        height: 65% !important;
        transition: 1s;
        transition-timing-function: ease;
    }

    #services-section .sliding-box {
        position: relative;
        width: 80% !important;
        left: -100%;
        height: 85%;
        top: 0;
    }
}

#services-section .sc_services_item_featured_top {
    background-color: #495E35;
    cursor: pointer;
}
#services-section .sc_services_item .sc_services_item_header {
    transition: all .5s;
}
#services-section .sc_services_item.active .sc_services_item_header {
    opacity: 0;
}


.sc_services_item {
    transition: all .5s;
    z-index: 1;
}

.sc_services_item.unactive {
    z-index: 0 !important;
}

@media screen and (min-width: 600px) {
    .my_promo_cst {
        width: 45%;
    }

    .promo_text_right {
        margin-left:50%;
    }

    #sc_googlemap_1 {
        padding-top: 75px;;
    }

    .my_figure {
        padding-left: 30%;
    }

    .little_maps {
        transform: rotate(90deg);
    }

    #img-punti {
        height: 100vh;
        object-fit: cover;
    }
}

.sc_services_item_title {
    transition: .5s;
}

.intern-box-title {
    text-align:center;
    margin-top: 10%;
    margin-bottom: 0%;;
}

.intern-box-ul {
    position: relative;
    color: white;
    text-align: justify;
    padding-top: 2%;
    padding-left: 7%;
    padding-right: 5%;
    margin-bottom: 0;
    font-size: large;
    line-height: 1.6;
}

.intern-box-subtitle {
    position:relative;
    color:white;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: large;
    font-weight: bold;
    text-align: center;
    line-height: 1.6;
}

.intern-box-paragraph {
    position:relative;
    color:white;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    font-size: large;
    font-weight: bold;
    line-height: 1.6;
}

.boxImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.custom-svg {
    fill: white !important;
}
.custom-svg:hover {
    fill: #88b04b !important;
}

.column-inner.ph15p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto !important;
}

@media screen and (max-width: 600px) {
    #img_cartina_greenway {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #img-punti {
        height: auto;
        object-fit: unset;
    }
}

.close-button {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    background-color: #495E35 !important;
    color: white !important;
    font-size: large !important;
    width: 40px !important;
    height: 40px !important;
    padding: 0 !important;
}

#capitolato {
    color: #88b04b;
    
}

#capitolato:hover {
    color: #495e35;
}

/*
.cq-hotspots {
    width:100% ;
}
*/

.main-title {
    padding-top: 3rem !important;
}